{% extends "plantilla.html" %}
{% load static %}
<title>{% block title %}Modificar Productos {% endblock %}</title>
    
{% block content %}

                <p><h1>CRUD Productos</h1></p>
                <br>
                <p><h2>Modificar Producto</h2>
                </p>
                <form action="" method="POST">
                   {% csrf_token %}
                   <table>
                      {{ form.as_table }}
                   </table>
                   <input type="reset" value="Limpiar">
                   <input type="submit" value="Modificar">


                </form>
      {{ mensaje }}
      
      {% endblock %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </body>
</html>

