{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="js/frases.js"></script>
      <link rel="stylesheet" href="style/style.css">
      <title>Quienes Sómos</title>
   </head>
   <body>
      {% include "navbar.html" %}
      <div class="container">
          <div id="nav-bar"></div>
         <div class="row">
         <div class="col-12 text-center">
         <img src="{% static 'img/minilogo.png' %}" class="img-fluid" alt="Responsive image">
         <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 bg-danger">
         </div><p class="text-center"></p> <td class="align-text-bottom">Somos TrisixSk8Mafia, una distribuidora de accesorios
         para skate que nace el 2020 para responder a la alta demanda de insumos especialidos que cuentan con nulo stock en las tiendas
         de nuestro país.
         </td>
         </p>
         </div>
         <div class="col-12 text-center">
          <br></br>
        <script type="text/javascript">mostrarFrases(); </script>
         </div>
         </div>
         </div>
      </div>
     <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </body>
</html>