{% extends "plantilla.html" %}
{% load static %}
<title>{% block title %}Carro de Compras {% endblock %}</title>
 
    
 
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'js/confirmacion.js' %} "></script>
   

<div class="container">
    <div class="row text-center h-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mx-auto align-items-center" style="width: 18rem;" >
        {% if error == 0 %}
        <p><h2>Listado Productos en Carro</h2>
        </p> 
        <div class="col-xl-12 text-center mx-auto align-items-center">
            <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Imagen</th>
            <th>Accion</th>
            </tr>
        </thead>
        <tbody>
    {% for p in carros %}
        <tr>
            <td>{{ p.nombre_producto }}</td>
            <td>{{ p.precio_producto }}</td>
            <td>{{ p.cantidad_producto }}</td>
            {% if p.imagen %}
            <td><img src="{{ p.imagen.url }}" alt="Producto 1" width="80" height="80"></td>
            {% else %}
            <td><img src="{% static 'img/minilogo.png' %}" alt="Producto 1" width="80" height="80"></td>
            {% endif %}
            <td>
            <a href="#" onclick="confirmarEliminacionC({{p.id}})">Eliminar</a>
            </td>
        </tr>
    </tbody>
            {% endfor %}
        
</table>
</div>      
    <h1>Total: ${{total}}</h1>
    <a href="{% url 'enviar_pedido' %}" class="btn btn-success" role="button" aria-pressed="true">Enviar Pedido</a>
    {% else %}
    <div class="col-xl-12">
        <h2>Aún no has agregado ningún producto al Carro</h2>
    </div>
</div>
</div>
</div>
    {% endif %}
    {% endblock %}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </body>
</html>

