{% extends "plantilla.html" %}
{% load static %}
<title>{% block title %}Registro{% endblock %}</title>
    
{% block content %}
      <!-- <script>
         $(function() {
             $("#registro").validate({
               rules:{
                   correo: {
                       required: true,
                       email: true
                   },
                   inputPassword: "required",
                   inputPassword2: {
                       required: true,
                       equalTo: "#inputPassword"
                   }
         
               },
               messages: {
                   inputEmail: {
                       required: 'Ingresa tu correo electronico',
                       email: 'Formato de correo inválido'
                   },
                   inputPassword: {
                       required: 'Ingrese una contraseña',
                       minlength: 'Largo Insuficiente'
                   },
                   inputPassword2: {
                       required: 'Reingrese una contraseña',
                       equalTo: 'Las contraseñas ingresadas no coinciden',
                       minlength: 'Largo Insuficiente'
                   }
               }
         
             });
         
         });
      </script> -->
      <div class="container">
            <div class="row"> 
                <div class="col">

      <form action="" method="post" >
       
        {% csrf_token %}
        
        <p>{{formularioRegistro.as_p}}</P>
            {{usuario_form.as_p }}
        <input type="submit" value="Registrarse" />

    </form>
                </div>
            </div>
        </div>
      {% endblock %}
        <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </body>
</html>
<!-- test -->